<style>

    .star {
        color: yellow;
    }

    .member-pfp {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    #room-members {
        margin: 20px;
    }

    #add-member-form {
        margin: 20px;
    }

    .kick-btn {
        margin-left: 20px;
    }
</style>

<div class="modal-box" id="roommembers">
    <h2>Room Members</h2>
    <br>
    <div id="room-members">
        <table id="room-members-table">
            <% currentRoom?.members.forEach(member => { %>
                <% member.isRoomOwner = (member.id === currentRoom?.owner.id) %>
                <tr>
                    <td>
                        <img class='member-pfp' src="<%= member.pfpfilename %>">
                    </td>
                    <td>
                        <p><%= member.username %></p>
                    </td>
                    <td>
                        <%- member.isRoomOwner ? "<p class='star'>&#9733</p>" : "" %>
                    </td>
                    <% if (!member.isRoomOwner && member.id !== user.id) { %>
                        <td>
                            <form action="/kickmember" method="post">
                                <input type="hidden" name="roomid" value="<%= currentRoom?.id %>">
                                <input type="hidden" name="userid" value="<%= member?.id %>">
                                <button type="submit" class="kick-btn">Kick</button>
                            </form>
                        </td>
                    <% } %>
                </tr>
            <% }) %>
        </table>
    </div>
    <form action="/addmember" method="post" id="add-member-form">
        <input type="hidden" name="roomid" value="<%= currentRoom?.id %>">
        <input type="text" name="username" placeholder="Username">
        <p class="modal-error"></p>
        <button type="submit">Add Member</button>
    </form>
</div>