<style>
    #chat {

        display: flex;
        flex-direction: column;
        height: 85vh;

    }

    #messages-box {
        background-color: green;
        flex-grow: 1;
        overflow-y: auto;
    }

    #chat-ui {
        width: 100%;
        height: 100px;
        background-color: red;
        padding: 10px;
    }

    #message-textbox {
        width: 80%;
        height: 100%;
        padding: 20px;
        resize: none;
        border-radius: 5px;
        font-size: 16px;
    }

    #send-btn {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }
</style>

<div id="chat">
    <% if (!locals?.currentRoom) {%>
        <center>
            <h1>nopers</h1>
        </center>
        <% } else { %>
            <%= currentRoom.members[0].username %>

                <div id="messages-box">
                    <% currentRoom.messages.forEach(message=> { %>
                        <div>
                            <strong>
                                <%= message.sender.username %>
                            </strong>
                            <p>
                                <%= message.text %>
                            </p>
                        </div>
                        <% }) %>
                </div>

                <div id="chat-ui">
                    <!-- long line moment-->
                    <textarea id="message-textbox" resizeable="false" maxlength="<%= cfg.messageRequirements.maxMessageLength %>" minlength="maxlength="<%= cfg.messageRequirements.minMessageLength %>""></textarea>
                    <button id="send-btn" onclick="sendMessage()">Send</button>
                </div>

                <% } %>


</div>
<script src="/socket.io/socket.io.min.js"></script>
<script>
    const socket = io();
    let messageBox = document.getElementById('message-textbox');

    function sendMessage() {
        let messageText = messageBox.value;
        messageBox.value = '';
        socket.emit('message', {
            text: messageText,
            timestamp: new Date().toISOString(),
            roomid: "<%= locals?.currentRoom.id %>",
            senderid: "<%= user.id %>",
        });
    }
</script>