<style>
    #chat {

        display: flex;
        flex-direction: column;
        height: 85vh;
    }

    #messages-box {
        background-color: teal;
        flex-grow: 1;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #chat-ui {
        width: 100%;
        height: 100px;
        background-color: red;
        padding: 10px;
    }

    #message-textbox {
        width: 80%;
        height: 100%;
        padding: 20px;
        resize: none;
        border-radius: 5px;
        font-size: 16px;
    }

    #send-btn {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

    .message {
        background-color: white;
        width: fit-content;
        padding: 10px;
        margin: 20px;
        border-radius: 20px;
        position: relative;
        left: 10px;
    }

    .message[you] {
        background-color: lightblue;
        position: relative;
        left: 90%;
        transform: translateX(-90%);
    }

    .message-pfp {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .message-pfp[you] {
        display: none;
    }

    .message-timestamp[you] {
        display: none;
    }

    #people-btn {
        width: fit-content;
    }
</style>

<div id="chat" onload="load()">
    <% if (!locals?.currentRoom) {%>
        <center>
            <h1>nopers</h1>
        </center>
        <% } else { %>
            <button id="people-btn" onclick="showModal('roomMembers')">Members</button>

                <div id="messages-box">
                    <% messages.forEach(message=> { %>
                        <%- include('./message.ejs', {
                            sender: message.sender,
                            message: message.text,
                            timestamp: new Date(message.timestamp).toLocaleString(),
                        }) %>
                     <% }) %>
                </div>

                <div id="chat-ui">
                    <!-- long line moment-->
                    <textarea id="message-textbox" resizeable="false"
                        maxlength="<%= cfg.messageRequirements.maxMessageLength %>" minlength="maxlength="
                        <%=cfg.messageRequirements.minMessageLength %>""></textarea>
                    <button id="send-btn" onclick="sendMessage()">Send</button>
                </div>

                <% } %>


</div>
<script src="/socket.io/socket.io.min.js"></script>
<script>

    function load(){
        let messages = document.getElementsByClassName('message');
        messages[messages.length-1].scrollIntoView();
    }

    const socket = io();
    let messageBox = document.getElementById('message-textbox');

    socket.io.on('message', (data) => {
        alert(message.text);
    });

    function sendMessage() {
        let messageText = messageBox.value;
        messageBox.value = '';
        socket.emit('message', {
            text: messageText,
            timestamp: new Date().toISOString(),
            roomid: "<%= currentRoom?.id %>",
            senderid: "<%= user.id %>"
        });

        window.location.reload();
    }

    function addMessage(text, username, timestamp) {

    }
</script>