<style>
    #chat {

        display: flex;
        flex-direction: column;
        height: 85vh;

    }

    #messages-box {
        background-color: green;
        flex-grow: 1;
        overflow-y: auto;
    }

    #chat-ui {
        width: 100%;
        height: 100px;
        background-color: red;
        padding: 10px;
    }

    #message-textbox {
        width: 80%;
        height: 100%;
        padding: 20px;
        resize: none;
        border-radius: 5px;
        font-size: 16px;
    }

    #send-btn {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }
</style>

<div id="chat">
    <% if (!locals?.currentRoom) {%>
        <center>
            <h1>nopers</h1>
        </center>
        <% } else { %>
            <%= currentRoom.members[0].username %>

                <div id="messages-box">
                    <% messages.forEach(message => { %>
                        <%- include('./message.ejs') %> 
                    <% }) %>
                </div>

                <div id="chat-ui">
                    <!-- long line moment-->
                    <textarea id="message-textbox" resizeable="false" maxlength="<%= cfg.messageRequirements.maxMessageLength %>" minlength="maxlength="<%= cfg.messageRequirements.minMessageLength %>""></textarea>
                    <button id="send-btn" onclick="sendMessage()">Send</button>
                </div>

                <% } %>


</div>
<script src="/socket.io/socket.io.min.js"></script>
<script>
    const socket = io();
    let messageBox = document.getElementById('message-textbox');

    socket.io.on('message', (data) => {
        alert(message.text);
    });

    function sendMessage() {
        let messageText = messageBox.value;
        messageBox.value = '';
        socket.emit('message', {
            text: messageText,
            timestamp: new Date().toISOString(),
            roomid: "<%= currentRoom?.id %>",
            senderid: "<%= user.id %>"
        });
    }

    function addMessage(text, username, timestamp){
        let msgHtml = `<%- include('./message.ejs') %>`;
        //this is highly stupid but the squad wants project soda so I need to finish as fast as possible
        msgHtml.replace("MESSAGE", text);
        msgHtml.replace("USERNAME", username);
        msgHtml.replace("TIMESTAMP", timestamp);

        document.getElementById('messages-box').innerHTML += msgHtml;
    }
</script>