<style>
    #chat {

        display: flex;
        flex-direction: column;
        height: 85vh;
    }

    #messages-box {
        background-color: teal;
        flex-grow: 1;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #chat-ui {
        width: 100%;
        height: 100px;
        background-color: red;
        padding: 10px;
    }

    #message-textbox {
        width: 80%;
        height: 100%;
        padding: 20px;
        resize: none;
        border-radius: 5px;
        font-size: 16px;
    }

    #send-btn {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

    .message {
        background-color: white;
        width: fit-content;
        padding: 10px;
        margin: 20px;
        border-radius: 20px;
        position: relative;
        left: 10px;
    }

    .message[you] {
        background-color: lightblue;
        position: relative;
        left: 90%;
        transform: translateX(-90%);
    }

    .message-pfp {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .message-pfp[you] {
        display: none;
    }

    .message-timestamp[you] {
        display: none;
    }

    #people-btn {
        width: fit-content;
    }
</style>

<div id="chat">
    <% if (locals?.currentRoom) { %>
            <button id="people-btn" onclick="showModal('roomMembers')">Members</button>

                <div id="messages-box" onload="scrollToBottom()">
                    <% messages.forEach(message=> {  %>
                        <% let msgHtml = include('./message.ejs') %>
                        <% let senderUsername = message.sender.username %>
                        <% let pfpFilePath = message.sender.pfpfilename %>
                        <% let messageText = message.text %>
                        <% let timestamp = new Date(message.timestamp).toLocaleString() %>
                        <% let isYou = message.sender.id === user.id %>
                        <% // I know. I hate it too but there is no time to find a better way and I do not want to have it refresh everytime there is a new message%>
                        <% if(!isYou) msgHtml = msgHtml.replace("you", "") %>
                        <%- msgHtml.replace("PFPFILEPATH", pfpFilePath).replace("SENDERUSERNAME", senderUsername).replace("MESSAGETEXT", messageText).replace("TIMESTAMP", timestamp) %>
                     <% }) %>
                </div>

                <div id="chat-ui">
                    <!-- long line moment-->
                    <textarea id="message-textbox" resizeable="false"
                        maxlength="<%= cfg.messageRequirements.maxMessageLength %>" minlength="maxlength=
                        <%=cfg.messageRequirements.minMessageLength %>"></textarea>
                    <button id="send-btn" onclick="sendMessage()">Send</button>
                </div>

        <% } %>


</div>
<script src="/socket.io/socket.io.min.js"></script>
<script>

    window.onload = scrollToBottom;

    const socket = io();
    let messageBox = document.getElementById('message-textbox');
    let messagesContainer = document.getElementById('messages-box');

    socket.io.on('message', (data) => {
        alert(message.text);
    });

    function scrollToBottom(){
        let scrollHeight = messagesContainer.scrollHeight
        messagesContainer.scrollTop = scrollHeight;
    }

    function sendMessage() {
        let message = {
            text: messageBox.value,
            timestamp: new Date().toISOString(),
            roomid: "<%= currentRoom?.id %>",
            senderid: "<%= user.id %>"
        }

        messageBox.value = "";

        socket.emit('message', message);

        addMessage(message.text, message.timestamp, "<%= user.id %>","<%= user.username %>", "<%= user.pfpfilename %>");
    }

    function addMessage(text, timestamp, senderid, senderUsername, senderPfpFilename) {
        let msgHtml = `<%- include('./message.ejs'); %>`;
        let isYou = senderid === "<%= user.id %>";
        //I hate this just as much as you do
        msgHtml = msgHtml.replace("PFPFILEPATH", senderPfpFilename).replace("SENDERUSERNAME", senderUsername).replace("MESSAGETEXT", text).replace("TIMESTAMP", new Date(timestamp).toISOString());
        messagesContainer.innerHTML += msgHtml;
        scrollToBottom();
    }
</script>