<link rel="stylesheet" href="/public/css/style.css">
<style>

</style>
 
<div id="sidebarInner">
    <div id="ui">
        <button id="create-room-btn" onclick="showModal('createRoom')">Create Room</button>
        <button id="people-btn" onclick="showModal('roomMembers')">Members</button>
    </div>

    <div id="chats">
        <% if (rooms.length === 0) { %>
            <p>You have no rooms</p>
        <% } else { %>
            <% rooms.forEach(room => { %>
                <a class='room' href="/?roomid=<%= room.id %>" data-room-id="<%= room.id %>">
                    <p class="activity-notifier" id="notifier-<%= room.id %>">NEW</p>
                    <img class='room-icon' src='<%= room.iconfilename %>'>
                    <p class='room-link'><%= room.name %></p>
                    <% if(locals.noRoom) { %>
                        <img class="room-arrow" src="/public/img/caret-forward-outline.svg" alt="">
                    <% } else { %>
                        <img class="<%= room.id === currentRoom.id ? "room-arrow active" : "room-arrow"%>" src="/public/img/caret-forward-outline.svg" alt="">
                    <% } %>
                </a>
            <% }) %>
        <% } %>
    </div>
</div>

<script>

    socket.on('message', (message) => {
        let activityNotifier = document.querySelector(`#notifier-${message.roomid}.activity-notifier`);
        if(activityNotifier){
            activityNotifier.style.display = 'block';
        };
    });
</script>