<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>LOGIN</h1>
    <form action="/login" method="post">
        <input type="text" id="usernameBox" name="username" value="<%= formData?.username %>">
        <input type="password" id="passwordBox" name="rawPass" value="<%= formData?.rawPass %>">
        <input type="checkbox" id="rememberMeBox" name="rememberMe" value="checked" <%= formData?.rememberMe ? 'checked' : ''%>>
        <input type="hidden" name="redirect" value="<%= locals?.redirect %>">
        <button type="submit">GO</button>
    </form>
    <%= locals?.error %>
    <script src="/socket.io/socket.io.min.js"></script>
    <script src="/public/js/register.js"></script>
</body>
</html>