<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Project Soda</title>
    <link rel="shortcut icon" href="../public/img/Project Soda.png" type="image/x-icon">
    <link rel="stylesheet" href="./public/css/style.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <div class="userLoginRegisterContainerOuter">
        <div class="userLoginRegisterContainer">
            <h1>LOGIN</h1>
            <form action="/login" method="post">
                <div id="userInfo">
                    <div id="inputs">
                        <input placeholder="Username" type="text" id="usernameBox" name="username" value="<%= formData?.username %>">
                        <input placeholder="Password" type="password" id="passwordBox" name="rawPass" value="<%= formData?.rawPass %>">
                        <div id="rememberMeContainer">
                            <p>Remember me?</p>
                            <input type="checkbox" id="rememberMeBox" name="rememberMe" value="checked" <%= formData?.rememberMe ? 'checked' : ''%>>
                        </div>
                    </div>
                    <input type="hidden" name="redirect" value="<%= locals?.redirect %>">
                </div>
                <button type="submit">Go</button>
            </form>
            <a href="/register">bruh I don't even got an account!</a>
            <%= locals?.error %>
        </div>
    </div>
    <script src="/socket.io/socket.io.min.js"></script>
    <script src="/public/js/register.js"></script>
</body>
</html>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Project Soda</title>
    <link rel="stylesheet" href="./public/css/style.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <div class="userLoginRegisterContainerOuter">
        <div class="userLoginRegisterContainer">
            <h1>REGISTER</h1>

            <% if(!formData) {%>
                <% formData = {} %>
            <% } %>

            <form action="/register" method="post" enctype="multipart/form-data">
                <div id="userInfo">
                    <div id="inputs">
                        <input placeholder="Username" type="text" id="usernameBox" name="username" value="<%= formData.username %>">
                        <input placeholder="Password" type="password" id="passwordBox" name="rawPass" value="<%= formData.rawPass %>">
                    </div>
                    <div id="pfpContainer">
                        <img src="../public/img/NoPFP.png" alt="" id="pfpPreview">
                        <button type="button" onclick="document.getElementById('pfpBox').click()">Upload Profile Picture</button>
                    </div>
                    <input style="display: none;" type="file" id="pfpBox" accept=".png, .jpg, .jpeg, .jfif, .webp" name="pfpFile">
                    <input type="hidden" name="redirect" value="<%= locals?.redirect %>">
                </div>
                <button type="submit">Go</button>
            </form>
            <a href="/login">Login Instead</a>
            <% if(error) { %>
                <%= error %>
            <% } %>
        </div>
    </div>
    <script src="/socket.io/socket.io.min.js"></script>
    <script src="/public/js/register.js"></script>
</body>
</html>