<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./public/css/style.css">
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            height: 100%;
        }

        #container {
            display: flex;
            flex-direction: column;
            height: 100vh;
        }

        #header-container {
            background-color: var(--header-bg-color);
            color: white;
            padding: 0.5rem;
            border: 1px solid rgba(0, 0, 0, 0.15);
        }

        #main-container {
            display: flex;
            flex: 1;
        }

        #chat-container {
            flex: 1;
            background-color: var(--chat-bg-color);
            padding: 1rem;
            overflow-y: auto;
            box-shadow: -10px 0 15px rgba(40, 40, 40, 0.5);
            border: 1px solid rgba(0, 0, 0, 0.25);
        }

        #sidebar-container {
            width: 300px;
            background-color: var(--rooms-bg-color);
            padding: 1rem;
            overflow-y: auto;
            border: 1px solid rgba(0, 0, 0, 0.25);
        }

        .close-btn {
            cursor: pointer;
            position: absolute;
            left: -0.1%;
            /* I don't even know. I hate css */
            top: -2%;
            font-size: 30px;
            padding: 10px;
        }

        /*among us sussy"*/
    </style>
</head>

<body>

    <div id="container">
        <div id="header-container">
            <%- include('./partials/header') %>
        </div>
        <div id="main-container">
            <div id="sidebar-container">
                <%- include('./partials/rooms.ejs') %>
            </div>
            <div id="chat-container">
                <%- include('./partials/chat.ejs') %>
            </div>
        </div>
    </div>

    <div id="modal" hidden>
        <a class="close-btn" onclick="hideModal()">&times;</a>
        <div id="modal-content"></div>
    </div>

    <script>

        //you are so sus
        //I am not sus
        //I am so skibidi sus

        let modals = {
            createRoom: `<%- include('./modals/createRoom.ejs') %>`,
            roomMembers: `<%- include('./modals/roomMembers.ejs') %>`,
        };

        <% if (locals?.openModal) { %>
            showModal(modals["<%- locals?.openModal %>"]);
        <% } %>

        function showModal(modal) {
            document.getElementById('modal-content').innerHTML = modals[modal];
            document.getElementById('modal').style.display = 'block';
        }

        function hideModal() {
            document.getElementById('modal-content').innerHTML = "";
            document.getElementById('modal').style.display = 'none';
        }
    </script>
</body>

</html>