<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/socket.io/socket.io.min.js"></script>
    <script>
        const socket = io();
    </script>
    <link rel="stylesheet" href="./public/css/style.css">
    <style>
        
    </style>
</head>

<body>

    <div id="container">
        <div id="header-container">
            <%- include('./partials/header') %>
        </div>
        <div id="main-container">
            <div id="sidebar-container">
                <%- include('./partials/rooms.ejs') %>
            </div>
            <div id="chat-container">
                <%- include('./partials/chat.ejs') %>
            </div>
        </div>
    </div>

    <div id="backdropBlur"></div>

    <div id="modal" style="display: block; opacity: 0; pointer-events: none;">
        <button class="close-btn" onclick="hideModal()">&times;</button>
        <div id="modal-content"></div>
    </div>

    <script>

        //you are so sus
        //I am not sus
        //I am so skibidi sus

        let modals = {
            createroom: `<%- include('./modals/createRoom.ejs') %>`,
            roommembers: `<%- include('./modals/roomMembers.ejs') %>`,
        };

        <% if (locals?.openModal) { %>
            showModal("<%- locals?.openModal %>");
        <% } %>


        function showModal(modalName) {
            let modal = modalName.toLowerCase();
            console.log("attempting to show modal", modal);
            document.getElementById('modal-content').innerHTML = modals[modal];
            document.getElementById('modal').style.display = 'block';
            document.getElementById('modal').style.opacity = '1';
            document.getElementById('backdropBlur').classList.add('open');
            document.getElementById('modal').style.pointerEvents = 'all';
            if(modal === "<%= locals?.openModal %>".toLowerCase()) {
                document.querySelector(`#${modal} .modal-error`).innerText = "<%= locals?.modalError %>";
            }
        }

        function hideModal() {
            document.getElementById('modal-content').innerHTML = "";
            document.getElementById('backdropBlur').classList.remove('open');
            document.getElementById('modal').style.opacity = '0';
            document.getElementById('modal').style.pointerEvents = 'none';
        }
    </script>
</body>

</html>